h1, h2, h3, h4, h5, h6, p{
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
  padding: 0px 0 10px 0;
}
body {
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}

.resposive-img{
  max-width: 100%;
}

h4.sub {
	color: #e9cf8b;
	}
	
.gh-footer-text {
  color: #e9cf8b;
  margin-bottom: 0!important;
  padding-top: 50px;
  padding-bottom: 20px;
	}
	
.footer{
  background: #000000;
  padding: 0px 0;
  padding-top: 50px;
  text-align: left;
  }

.bg-pages-1{
  background: #f1f1f1;
  padding: 50px 0 20px 0;
}
.bg-pages-2{
  background: #ffffff;
  padding: 50px 0;
}
.title-pages-1{
  text-align: justify;
  padding: 20px;
}

.img-top{
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	padding: 170px 0 20px 0;
	}
	
.text-center1 {
  text-align: center;
  padding: 50px 0 150px 0;
  
}
.icon-contac{
  color: #e9cf8b;
  font-size: 30px;
}
.text-contact{
  color: #e9cf8b;
  margin-top: 10px;
}

/*Asi sumplastas una clase por otra*/
.pt20{
  padding-top: 20px; 
}
.form-control{
  border: 1px solid #e9cf8b;
  border-radius: 0px;
  background: #000000;
  color: #e9cf8b;
}
.form-control input{
 color: #fff;
}
.form-control::placeholder {
  color: #e9cf8b;
  opacity: 0.8;
}

.form-control::-moz-placeholder {
  color: #e9cf8b;
  opacity: 1;
}

.form-control:focus {
  color: #e9cf8b;
  background-color: #000000;
  border-color: #e9cf8b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(233, 252, 89, 0.25);

}
.btn-search{
  border: 1px solid #e9cf8b;
  border-radius: 0px;
  background: #000000;
  color: #e9cf8b;
  opacity: 0.8;
  padding: 5px 25px;
}

.btn-search:hover, .btn-search:focus {
  text-decoration: none;
}

.btn-search:focus, .btn-search.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(233, 252, 89, 0.25);
}
	


@media (max-width: 776px){
  .pt50{
    padding-top: 50px;
  }
  .center-res{
    text-align: center;
  }
}
