h1, h2, h3, h4, h5, h6, p{
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
  padding: 0px 0 10px 0;
}
body {
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}

.resposive-img{
  max-width: 100%;
}

ul.social-boton li{
  margin-bottom: 0;
  color: #e9cf8b;
  padding: 15px 15px 0 50px;
  
}

h4.sub {
	color: #e9cf8b;
	padding-left: 50px;
	}
	
.foot {
	color: #e9cf8b;
	padding: 80px 0 20px 0;
	}
	
.pie{
  background: #000000;
  padding: 50px 0 20px 0;
  }

.bg-pages-1{
  background: #f1f1f1;
  padding: 50px 0 20px 0;
}
.bg-pages-2{
  background: #ffffff;
  padding: 50px 0;
}
.title-pages-1{
  text-align: justify;
  padding: 20px;
}

.img-top{
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	padding: 170px 0 20px 0;
	}
	
.text-center1 {
  text-align: center;
  padding: 50px 0 150px 0;
  
}

.inline-1{
	padding: 30px 0 0 15px;
	color: #e9cf8b;
	}
	
.inline-2{
	padding: 30px 0 0 15px;
	}
	
.inline-3{
	padding: 20px 50px 0 0;
	}
	


.form-control1 {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #e9cf8b;
  background-color: #000000;
  background-clip: padding-box;
  border: 1px solid #e9cf8b;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control1 {
    transition: none;
  }
}

.form-control1::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control1:focus {
  color: #e9cf8b;
  background-color: #000000;
  border-color: #e9cf8b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control1::-webkit-input-placeholder {
  color: #e9cf8b;
  opacity: 1;
}

.form-control1::-moz-placeholder {
  color: #e9cf8b;
  opacity: 1;
}

.form-control1:-ms-input-placeholder {
  color: #e9cf8b;
  opacity: 1;
}

.form-control1::-ms-input-placeholder {
  color: #e9cf8b;
  opacity: 1;
}

.form-control1::placeholder {
  color: #e9cf8b;
  opacity: 1;
}

.form-control1:disabled, .form-control1[readonly] {
  background-color: #e9cf8b;
  opacity: 1;
}

select.form-control1:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control1:focus::-ms-value {
  color: #e9cf8b;
  background-color: #fff;
}

.form-control1-file,
.form-control1-range {
  display: block;
  width: 100%;
}

.form-control1-plaintext {
  display: block;
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-bottom: 0;
  line-height: 1.5;
  color: #e9cf8b;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
