h1, h2, h3, h4, h5, h6, p{
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
  padding: 0px 0 10px 0;
}
body {
  font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}

.resposive-img{
  max-width: 100%;
}

ul.social-boton {
  margin-bottom: 0;
  color: #e9cf8b;
}

ul.social-boton li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #e9cf8b;
}

ul.social-boton li a:active, ul.social-boton li a:focus, ul.social-boton li a:hover {
  background-color: #fed136;
}

.bg-pages-1{
  background: #f1f1f1;
  padding: 50px 0 20px 0;
}
.bg-pages-2{
  background: #ffffff;
  padding: 50px 0;
}
.title-pages-1{
  text-align: justify;
  padding: 20px;
}

.img-top{
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	padding: 170px 0 20px 0;
	}
	
.text-center1 {
  text-align: center;
  padding: 50px 0 150px 0;
  
}
